h1 {
    color : lightblue
}

.unathor {
    color: red;
}

.author {
    color:RED;
}

#bg {
    background-color: aqua;
}

header{
    background-color: blueviolet;
}

ul{
    display: flex;
    justify-content: start;
    gap: 2 rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

footer{
    background-color: bisque;
}

footer>p{
    font-size: 0.5rem;
}